.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .myForm {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .border.rounded.img-preview {
    width: 100px;
    height: 100px;
  }
  